apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/pki/k8s_ca.crt
    server: "https://{{hostvars['master'].node_ip}}:6443"
  name: {{cluster_name}}
contexts:
- context:
    cluster: {{cluster_name}}
    user: kubelet-bootstrap
  name: {{cluster_name}}-context
current-context: {{cluster_name}}-context
kind: Config
preferences: {}
users:
- name: kubelet-bootstrap
  user:
    token: {{ lookup('file', state_dir+'/credentials/bootstrap_token') }}
