kind: Secret
apiVersion: v1
metadata:
  name: bootstrap-token-{{token_id}}
  namespace: kube-system
type: bootstrap.kubernetes.io/token
stringData:
  token-secret: {{token_secret}}
  token-id: {{token_id}}
  usage-bootstrap-authentication: "true"


