export OS_PROJECT_DOMAIN_NAME=Default
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_NAME={{project}}
export OS_USERNAME={{user}}
export OS_PASSWORD={{password}}
export OS_AUTH_URL=https://{{public_ip}}:5000/v3
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
export OS_CACERT={{state_dir}}/ca/os_ca.crt