apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: "{{ca_cert_data | b64encode}}"
    server: https://127.0.0.1:8443/webhook
  name: webhook
contexts:
- context:
    cluster: webhook
    user: webhook
  name: webhook-context
current-context: webhook-context
kind: Config
preferences: {}
users:
- name: webhook
