apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{cluster_ca_data}}
    server: {{cluster_endpoint}}
  name: {{cluster_name}}
contexts:
- context:
    cluster: {{cluster_name}}
    user: {{user_name}}
  name: {{cluster_name}}-context
current-context: {{cluster_name}}-context
kind: Config
preferences: {}
users:
- name: {{user_name}}
  user:
    client-certificate-data: {{client_cert_data}}
    client-key-data: {{client_key_data}}
