[Unit]
Description=kube-controller-manager the Kubernetes controller manager
Documentation=http://kubernetes.io/docs/

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --bind-address {{mgmt_ip}} \
  --client-ca-file /etc/kubernetes/pki/k8s_ca.crt \
  --kubeconfig /etc/kubernetes/pki/system:kube-controller-manager-config \
  --authorization-kubeconfig /etc/kubernetes/pki/kube-controller-manager-config \
  --authentication-kubeconfig /etc/kubernetes/pki/kube-controller-manager-config \
  --root-ca-file /etc/kubernetes/pki/k8s_ca.crt \
  --service-account-private-key-file /etc/kubernetes/pki/sa.rsa \
  --tls-cert-file /etc/kubernetes/pki/controller_manager.crt \
  --tls-private-key-file /etc/kubernetes/pki/controller_manager.rsa \
  --use-service-account-credentials \
  --cluster-name {{cluster_name}} \
  --cluster-cidr {{cluster_cidr}} \
  --service-cluster-ip-range {{service_cidr}} \
  --allocate-node-cidrs true \
  --cluster-signing-cert-file /etc/kubernetes/pki/k8s_ca.crt \
  --cluster-signing-key-file /etc/kubernetes/pki/k8s_ca.rsa
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target