os:
    # The install node. This is the node on which we will execute the playbooks during the 
    # Kubernetes installation. 
    access_node:
        ip: {{hostvars.network.ansible_ssh_host}}
        user: stack
        ssh_key: {{state_dir}}/ssh/gcp-stack-key 
    #
    # We will need to configure a proxy to be able to reach the Kubernetes API from outside
    # If (as it is the case in our standard GCE install), there is an NGINX on the install node 
    # which we control, we can configure it here. The variable stream_config_file is a file 
    # which we can write to configure our TLS pass-through, i.e. this is a file included by the 
    # main server configuration on top level
    #
    proxy:
        use: yes
        stream_config_file: "/etc/nginx/modules-enabled/stream.conf"
        service_name: "nginx"
    # We assume that our OpenStack installation contains an external network from which 
    # we can reach the Internet. We also assume that this external network is reachable
    # from the install host!
    network:
        external_network_name: external-network
        external_network_subnet-name: external-subnet 
    #
    # The flavors and images that we use to bring up our Kubernetes worker nodes
    # and our control plane node 
    #
    machine_templates:
        worker_nodes:
            flavor: m1.medium
            image: ubuntu-bionic
        master_nodes:
            flavor: m1.large
            image: ubuntu-bionic 
    #
    # Credentials that we use to access our OpenStack installation 
    # The auth_url needs to be reachable from the access_node
    #
    auth:
        auth_url: http://controller:5000/v3
        username: k8s
        os_user_domain_name: "default"
        os_project_domain_name: "default"
        os_project_name: "k8s"
        password: "{{OS_K8S_PASSWORD}}"
    # 
    # The region name 
    #
    region_name: "RegionOne"
