[Unit]
Description=kube-apiserver - the Kubernetes API server
Documentation=http://kubernetes.io/docs/

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
{% if use_authorization_webhook %}
   --authorization-mode Node,RBAC,Webhook \
{% else %}
   --authorization-mode Node,RBAC \
{% endif %}
   --enable-bootstrap-token-auth \
   --bind-address {{node_ip}} \
   --client-ca-file /etc/kubernetes/pki/k8s_ca.crt  \
   --etcd-cafile /etc/kubernetes/pki/etcd_ca.crt \
   --etcd-certfile /etc/kubernetes/pki/apiserver_etcd_client.crt \
   --etcd-keyfile /etc/kubernetes/pki/apiserver_etcd_client.rsa \
   --etcd-servers https://{{node_ip}}:2379 \
   --kubelet-certificate-authority /etc/kubernetes/pki/k8s_ca.crt \
   --kubelet-client-certificate /etc/kubernetes/pki/apiserver_kubelet_client.crt \
   --kubelet-client-key /etc/kubernetes/pki/apiserver_kubelet_client.rsa \
   --tls-private-key-file /etc/kubernetes/pki/apiserver.rsa \
   --tls-cert-file /etc/kubernetes/pki/apiserver.crt \
   --service-account-key-file /etc/kubernetes/pki/sa.rsa \
   --proxy-client-cert-file /etc/kubernetes/pki/front_proxy_client.crt \
   --proxy-client-key-file /etc/kubernetes/pki/front_proxy_client.rsa \
   --requestheader-client-ca-file /etc/kubernetes/pki/proxy_ca.crt \
   --service-cluster-ip-range {{service_cidr}} \
{% if use_authentication_webhook %}
   --authentication-token-webhook-config-file={{authentication_webhook_config_file}} \
{% endif %}
{% if use_authorization_webhook %}
   --authorization-webhook-config-file={{authorization_webhook_config_file}} \
{% endif %}
   --allow-privileged=true 
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target