apiVersion: v1
kind: ServiceAccount
metadata:
  name: kuryr-controller
  namespace: kube-system
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kuryr-controller
rules:
- apiGroups:
  - ""
  verbs: ["*"]
  resources:
    - endpoints
    - pods
    - nodes
    - services
    - services/status
    - namespaces
- apiGroups:
    - openstack.org
  verbs: ["*"]
  resources:
    - kuryrnets
    - kuryrnetpolicies
    - kuryrloadbalancers
- apiGroups: ["networking.k8s.io"]
  resources:
  - networkpolicies
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups: ["k8s.cni.cncf.io"]
  resources:
  - network-attachment-definitions
  verbs:
  - get
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: kuryr-controller-global
subjects:
- kind: ServiceAccount
  name: kuryr-controller
  namespace: kube-system
roleRef:
  kind: ClusterRole
  name: kuryr-controller
  apiGroup: rbac.authorization.k8s.io
---
# 
# This secret holds the configuration of the Kuryr controller 
#
kind: Secret
apiVersion: v1
metadata:
  name: kuryr-config
  namespace: kube-system
type: Opaque  
stringData: 
  kuryr.conf: |
    [neutron]
    auth_url=https://{{os.install_node.ip}}:5000/v3
    auth_type=password
    username={{os.auth.username}}
    user_domain_name=default
    password={{os.auth.password}}
    project_name={{os.auth.os_project_name}}
    project_domain_name=default
    cafile=/etc/os_credentials/os_ca.crt
    region={{os.region_name}}

    [neutron_defaults]
    pod_security_groups={{pod_security_group_id}}
    external_svc_net={{external_network_id}}
    project={{k8s_project_id}}
    service_subnet={{kuryr_service_subnet_id}}
    pod_subnet={{kuryr_pod_subnet_id}}
    ovs_bridge=br-int 

    [pod_vif_nested]
    worker_nodes_subnet={{node_subnet_id}}

    [kubernetes]
    api_root=https://{{os.install_node.ip}}:6443
    pod_vif_driver=nested-macvlan
    enabled_handlers=vif
    token_file=/var/run/secrets/kubernetes.io/serviceaccount/token 
    ssl_ca_crt_file=/var/run/secrets/kubernetes.io/serviceaccount/ca.crt 

    [cni_daemon]
    docker_mode=true
    netns_proc_dir=/host_proc 

    
--- 
#
# The actual pod
#
apiVersion: v1
kind: Pod
metadata:
  name: kuryr-controller
  namespace: kube-system
spec:
  containers:
    - name: kuryr-controller
      image: {{kuryr_image}}
      command:
        # - sleep
        # - "3600"
        - /usr/local/bin/kuryr-k8s-controller
        - --config-file=/etc/kuryr/kuryr.conf
      volumeMounts:
        - mountPath: /etc/kuryr
          name: kuryr-config-volume
          readOnly: true
        - mountPath: /etc/os_credentials
          name: os-ca-credentials
          readOnly: true
      resources:
        requests:
          cpu: 200m
  hostNetwork: true
  tolerations:
    - key: node.cloudprovider.kubernetes.io/uninitialized
      value: "true"
      effect: NoSchedule
    - key: node.kubernetes.io/not-ready
      effect: NoSchedule
  serviceAccountName: kuryr-controller
  volumes:
  - name: kuryr-config-volume
    secret:
      secretName: kuryr-config
  - name: os-ca-credentials
    secret:
      secretName: os-client-ca


