#!/bin/bash 
# Get credentials
source {{install_user_home}}/octavia-openrc
# Get ID of network and determine namespace
id={{octavia_load_balancer_network.network.id}}
ns_id="qdhcp-$id"
# Wait until namespace for DHCP agent has been created  
found=$(sudo ip netns list | grep "$ns_id" | wc -l)
attempts=0
while [ "$found" == "0" ]; do
  sleep 1 
  let attempts++
  if [ "$attempts" -gt "16" ]; then 
    echo "get_vlan_id.sh: timed out waiting for DHCP agent, returning default 4095" >&2
    echo "4095"
    exit 1
  fi
  found=$(sudo ip netns list | grep "$ns_id" | wc -l)
done
tag=4095
attempts=0
while [ "$tag" == "4095" ]; do
  # Get ID of corresponding port 
  ovs_port_id=$(sudo ip netns exec $ns_id ifconfig -a | grep "tap" | awk '{ print $1 }' | sed 's/://')
  # Get record for this port (columns name, other_config) from the OVS DB
  record=$(sudo ovsdb-client dump  unix:/var/run/openvswitch/db.sock Open_vSwitch Port name tag | grep $ovs_port_id)
  # Extract tag 
  tag=$(echo $record | awk '{print $2'})
  let attempts++
  if [ "$attempts" -gt "16" ]; then 
    echo "get_vlan_id.sh: timed out waiting for VLAN tag, returning default 4095" >&2
    echo "4095"
    exit 1
  fi
done
echo $tag
