#!/bin/bash
#
# Wait until the port lb_port is present on the bridge, 
# then figure out the VLAN ID of the load balancer network
# and set the tag on the port accordingly
#
found=$(sudo ovsdb-client dump  unix:/var/run/openvswitch/db.sock Open_vSwitch Port name tag | grep "lb_port")
while [ "$found" == "0" ]; do
  sleep 1 
done
# The port is there - get VLAN id
vlan_id=4095
attempts=0
while [ "$vlan_id" == "4095" ]; do 
  vlan_id=$({{install_user_home}}/get_vlan_id.sh)
  sleep 1
  let attemps++
  if [ "$attempts" -gt "4" ]; then 
    echo "update_lb_port_tag.sh: timed out, vlan_id is still -$vlan_id-"
    exit 1
  fi
  echo "Got VLAN ID -$vlan_id- from helper script"
done
# and update port
sudo ovs-vsctl set port lb_port tag=$vlan_id 
echo "update_lb_port_tag.sh: set tag $vlan_id on load balancer port"
# Finally assign IP address
sudo ip addr add dev lb_port {{lb_network_mgmt_ip}}/24 > /dev/null 2>&1
sudo ip link set dev lb_port mtu {{lb_port_mtu}}
sudo ip link set dev lb_port up